* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

@font-face {
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
}
header {
  background-image: url(../media/Living4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 19%;
  font-size: 25px;
}

header h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 2pt;
  margin: 13px;
}

header a {
  list-style: none;
  text-decoration-line: none;
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Bold.ttf);
  color: rgb(55, 55, 55);
}

h1 a:hover {
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: 3s;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 0.705);
  position: sticky;
  top: 0;
}

nav.navbar div {
  width: 100px;
  height: 100px;
  transition: all 2s;
}

nav.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.navbar ul li {
  color: rgb(33, 33, 33);
  text-decoration-line: none;
  display: inline-block;
  padding: 20px;
  height: 1%;
  margin: 5px;
  list-style: none;
  justify-content: center;
}

nav.navbar ul li a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
}

.navbar a:hover {
  font-weight: bold;
}

.history {
  display: flex;
  flex-direction: column;
  background: rgb(188, 186, 186);
  background: linear-gradient(90deg, rgb(188, 186, 186) 0%, rgb(200, 198, 198) 100%, rgb(238, 238, 238) 100%);
  padding: 30px;
}

.history h2 {
  text-align: center;
  color: rgb(55, 55, 55);
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
  font-size: 35px;
  letter-spacing: 2pt;
  margin: 15px;
}

.history p {
  font-size: 20px;
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Italic.ttf);
}

#checkbox-menu,
label.menu {
  display: none;
}

label.menu {
  color: rgb(48, 48, 48);
  cursor: pointer;
  padding-left: 1%;
}

.beneficios {
  display: flex;
  flex-direction: column;
  background: rgb(188, 186, 186);
  background: linear-gradient(90deg, rgb(188, 186, 186) 0%, rgb(200, 198, 198) 100%, rgb(238, 238, 238) 100%);
  padding: 30px;
}

.beneficios h3 {
  color: rgb(48, 48, 48);
  text-align: center;
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
  font-size: 35px;
  letter-spacing: 2pt;
  margin: 2%;
}

.beneficios ul li {
  font-size: 20px;
  padding: 1%;
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Italic.ttf);
}

.modelos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 50%);
  background: rgb(188, 186, 186);
  background: linear-gradient(90deg, rgb(188, 186, 186) 0%, rgb(200, 198, 198) 100%, rgb(238, 238, 238) 100%);
  grid-template-rows: auto;
  max-width: 105%;
  padding: 2%;
  text-align: left;
  gap: 10px;
}

.modelos h2 {
  text-align: center;
  color: rgb(55, 55, 55);
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2pt;
  margin: 40px;
}

.modelos h4 {
  color: rgb(48, 48, 48);
  text-align: center;
  font-size: 30px;
}

.modelos p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;
}

.modelomat {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 50%);
  background-image: url(../media/FONDO.jpg);
  grid-template-rows: auto;
  max-width: 105%;
  padding: 2%;
  text-align: left;
  gap: 10px;
}

.modelomat h4 {
  color: rgba(5, 5, 5, 0.993);
  text-align: center;
  padding: 3%;
  font-size: 25px;
  font-weight: bold;
}

.modelomat p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 27px;
}

.titulomodels {
  font-size: 450px;
  font-family: fantasy;
  font-size: 35px;
  letter-spacing: 2pt;
  margin: 10px;
  text-align: center;
}

.titulos {
  font-size: 50px;
  color: rgb(48, 48, 48);
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
  font-size: 35px;
  letter-spacing: 2pt;
  margin: 15px;
  text-align: center;
}

.subtit {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  font-size: 20px;
}

label {
  display: block;
  justify-content: center;
  margin-bottom: 2px;
  padding: 1%;
  font-weight: bold;
}

input[type=email],
input[type=tel],
textarea {
  width: 50%;
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.3490196078);
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.705);
  font-size: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}

input[type=submit],
input[type=button] {
  padding: 10px 20px;
  margin: 20px;
  background-color: #c98c07;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input:hover {
  font-weight: bold;
  font-size: 18px;
}

input:hover {
  font-weight: bold;
  font-size: 18px;
}

label.menu {
  color: rgba(201, 105, 9, 0.993);
  cursor: pointer;
  padding-left: 1%;
}

.piedepag {
  text-align: center;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.705);
  color: rgb(255, 255, 255);
  list-style-type: none;
  text-decoration: none;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2%;
}

.piedepag span {
  padding: 10px;
}

.piedepag .icon {
  width: 20px;
  height: 20px;
}

.whatsapp-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

a:hover {
  font-weight: bold;
}

.instagram-btn {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
}

.email-btn {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  font-size: 30px;
}

.map {
  justify-content: right;
  display: inline;
}

/*# sourceMappingURL=style.css.map */
