@media screen and (max-width: 600px) {
    
    h1 {
        font-size: 20px;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
    }

    label.menu {
        display: block;
        font-size: 25px;
        color: white;
    }

    #checkbox-menu {
        display: none;
    }

    #checkbox-menu:checked ~ .navbar ul {
        display: block;
    }
}


/* ESTILO PARA TABLETS (768px) */
/* @media screen and (min-width: 360px) and (max-width: 768px) {
    h1 {
        font-size: 10px;
    }
} */

/* Estilos para desktop */
/* @media screen and (min-width: 769px) {
    .container {
        padding: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar ul li {
        margin-left: 15px;
        opacity: 81%;
        border-radius: 10%;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #ffffff;
    }

    .imgbody {
        display: flex;
        justify-content: space-between;
        background-image: url(/media/FONDO.jpg);
        align-items: center;
        padding: 30px;
    }

    .history,
    .beneficios {
        flex-basis: 50%;
    }
} */