@media screen and (max-width: 360px){
    
    .container {
        padding: 0;
    }

    @media screen and (max-width: 360px){
        .navbar ul{
            display: none;
            flex-direction: column;
            position: absolute;
            background-color: #333; /* Solo para dar estilo al menú desplegable */
            padding: 10px;
            top: 60px;
            left: 0;
            width: 100%;
        }
    
        .menu {
            display: flex;
            color: white;
            font-size: 1.5rem;
            cursor: pointer;
        }
    
        #checkbox-menu:checked ~ .navbar ul {
            display: block;
        }
    }
    
    .imgbody {
        display: flex;
        justify-content: space-between;
        background-image: url(/media/FONDO.jpg);
        align-items: center;
        padding: 10%;
    }

    .history,
    .beneficios {
        flex-basis: 50%;
    }
}
